---
import './bbqMenu.css'
import { Image } from 'astro:assets';
import hotdog from "../assets/gourmet_hotdog.jpeg"; 
import burger from "../assets/big_burger.jpeg"; 
import sausage from "../assets/sausage.jpg"; 
import pork from "../assets/pulled_pork.jpg"; 
import brisket from "../assets/brisket.jpg"; 
import ribs from "../assets/ribs.jpg"; 
---


    <div class="container">
      <div class="menu">
        <h2 class="menu-group-heading">Barbeque</h2>
        <div class="menu-group">
          <div class="menu-item">
            <Image
              src={hotdog}
              alt="hot dog"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hot Dogs</span>
                <span class="menu-item-price">$5.00</span>
              </h3>
              <p class="menu-item-desc">
                Our all-beef hot dogs are like a summer day wrapped in a bun. Topped with zesty relish, tangy mustard, and a sprinkle of nostalgia, they’re the ultimate crowd-pleaser.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <Image
              src={sausage}
              alt="sausages"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Sausages</span>
                <span class="menu-item-price">$7.00</span>
              </h3>
              <p class="menu-item-desc">
                We offer a variety of sausages
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <Image
              src={burger}
              alt="Hamburger"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Hamburgers</span>
                <span class="menu-item-price">$8.90</span>
              </h3>
              <p class="menu-item-desc">
                We make the best BBQ smash burger on the west side of 
                Belleville. Made with local-made beef topped with cheddar
                cheese and barbequed to perfection.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="menu">
        <h2 class="menu-group-heading">Smoked Meat</h2>
        <div class="menu-group">
          <div class="menu-item">
            <Image
              src={pork}
              alt="pulled pork"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Pulled Pork Sanwich</span>
                <span class="menu-item-price">$8.90</span>
              </h3>
              <p class="menu-item-desc">
                Our slow-smoked pulled pork is so tender, it practically melts on your tongue. Slathered in our signature barbecue sauce, it’s a flavor explosion that’ll have you saying, “Yeehaw!”
              </p>
            </div>
          </div>
          <div class="menu-item">
            <Image
              src={brisket}
              alt="brisket sandwich"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Brisket Sandwich</span>
                <span class="menu-item-price">$12.50</span>
              </h3>
              <p class="menu-item-desc">
                Picture this: juicy, smoky brisket, sliced thick and served with a side of Texas pride. It’s the stuff dreams are made of.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <Image
              src={ribs}
              alt="texas smoked ribs"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Texas Smoked Ribs</span>
                <span class="menu-item-price">$22.50</span>
              </h3>
              <p class="menu-item-desc">
                We don't do mediocre. From the quality of our ingredients to the smoke time on those ribs – we're borderline fanatic about delivering that out-of-this-world barbecue flavor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
